<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href=/css/Styles.css rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>@ViewData["Title"] - Beamer Shop</title>
</head>
<body>
    <div class="mainwrap">

        <!-- Design lines trough page -->
        <div class="design-lines">
            <div id="left"></div>
            <div id="right"></div>
        </div>

        <!-- Navigation -->
        <div class="nav">
            <ul>
                <li style="font-weight:800"><a class="logo" asp-page="/Index">Beamer Shop</a></li>
                <li><a asp-page="#home">Account</a></li>
               <!-- <li><a asp-page="/About">About us </a></li> -->
                <li><a asp-page="#cars">Cars</a></li>
                <li><a asp-page="/Contact">Contact </a></li>
                @if(ViewData.ContainsKey("ActiveLink")
                    && (string)ViewData["ActiveLink"] == "fdas")
                {
                    <li style="float: right"><a class="active" asp-page="#about">Cart</a></li>
                }
                else
                {
                    <li style="float: right"><a asp-page="#about">Cart</a></li>
                }
            </ul>
        </div>
        <!-- main center container -->
        <div class="center-main">

            @RenderBody()

        </div>

        <!-- footer -->
        <div class="foot">
            <div class="foot-left">
                <h2>Follow us on social media!</h2>
                <ul>
                    <li><a href="#" class="fa fa-instagram"></a></li>
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-linkedin"></a></li>
                </ul>
            </div>
            <div class="foot-right">
                <h2>Contact</h2>
                <h3>Rachelsmolen 1, 5612 MA</h3>
                <h3>Eindhoven, The Netherlands</h3>
            </div>
        </div>

    </div>

    <!-- JS -->
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)



</body>
</html>

