@using Beamer_shop.Pages.Components
@using Logic
@using Beamer_shop.Interfaces
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href=/css/Styles.css rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>@ViewData["Title"] - Beamer Shop</title>
</head>
<body>
    <div class="mainwrap">

        <!-- Design lines trough page -->
        <div class="design-lines">
            <div id="left"></div>
            <div id="right"></div>
        </div>

        <!-- Navigation -->
        <div class="nav">
            <ul>
                <li style="font-weight:800"><a class="logo" asp-page="/Index">Beamer Shop</a></li>

                @if (ViewData.ContainsKey("ActiveLink")
                && (string)ViewData["ActiveLink"] == "account")
                {
                    if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        <li><a class="active" asp-page="/Account">Account</a></li>
                    } else {
                        <li><a class="active" asp-page="/Login">Login</a></li>
                    }
                }
                else
                {
                    if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        <li><a asp-page="/Account">Account</a></li>
                    }
                    else
                    {
                        <li><a asp-page="/Login">Login</a></li>
                    }
                }

                @if (ViewData.ContainsKey("ActiveLink")
                && (string)ViewData["ActiveLink"] == "shop")
                {
                    <li><a class="active" asp-page="/Shop">Shop</a></li>

                }
                else
                {
                    <li><a asp-page="/Shop">Shop</a></li>
                }
                @if (ViewData.ContainsKey("ActiveLink")
              && (string)ViewData["ActiveLink"] == "contact")
                {
                    <li><a class="active" asp-page="/Contact">Contact </a></li>
                }
                else {
                    <li><a asp-page="/Contact">Contact </a></li>
                }
                @if (ViewData.ContainsKey("ActiveLink")
                 && (string)ViewData["ActiveLink"] != "checkout")
                {
                    <li id="li-cart-open" style="float: right"><a id="a-cart-open" style="cursor:grab;">Cart</a></li>
                }
            </ul>
        </div>
        <!-- main center container -->
        <div class="center-main">

            @RenderBody()

        </div>

        <!-- footer -->
        <div class="foot">
            <div class="foot-left">
                <h2>Follow us on social media!</h2>
                <ul>
                    <li><a href="#" class="fa fa-instagram"></a></li>
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-linkedin"></a></li>
                </ul>
            </div>
            <div class="foot-right">
                <h2>Contact</h2>
                <h3>Rachelsmolen 1, 5612 MA</h3>
                <h3>Eindhoven, The Netherlands</h3>
            </div>
        </div>

        @* Shoppingcart -----------------------------------------------*@

        @inject IShoppingCartService ShoppingCartService

        <!-- Retrieve the shopping cart from service -->
        @{
            var shoppingCart = ShoppingCartService.RetrieveShoppingCart();
        }
        <!-- Use component to render shoppingcart -->
        <component type="typeof(Components.CShoppingCart)" render-mode="Static" param-ShoppingCart='shoppingCart' />

    </div>
    <!-- JS -->
    <script src="~/js/functions.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)



</body>
</html>

