@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
    ViewData["ActiveLink"] = "";
}

<img id="landing-car" src="/Images/bmwi8-home.png" alt="show-car" />

<div id="btnCollection">
    <a href="#cars">View collection</a>
</div>