@page
@model Beamer_shop.Pages.ShopModel
@{
    ViewData["Title"] = "Shop";
    ViewData["ActiveLink"] = "shop";
}

<div class="filter-container">
    <h1>Filter</h1>
    <div class="filter-section">

        <h2>Type</h2>
        <h3>---Accessory---</h3>
        <h3>---Car---</h3>

        <h2>Models</h2>
        <h3>---dummy---</h3>
        <h3>---dummy---</h3>
        <h3>---dummy---</h3>
        <h3>---dummy---</h3>

        <h2>Make</h2>
        <h3>---dummy---</h3>
        <h3>---dummy---</h3>
        <h3>---dummy---</h3>
        <h3>---dummy---</h3>

        <h2>Fuel</h2>
        <h3>---dummy---</h3>
        <h3>---dummy---</h3>
        <h3>---dummy---</h3>
        <h3>---dummy---</h3>

    </div>
</div>

<div class="product-container">
    
    <div class="card">
        <img src="https://images2.alphacoders.com/472/472428.jpg" alt="" />
        <div class="card-body">
            <div class="row">
                <div class="card-title">
                    <h4>BMW M4 Coupe</h4>
                    <h3>€120k</h3>
                </div>
                <div class="view-btn">
                    <a href="">View Details</a>
                </div>
            </div>
            <hr />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi,
                dignissimos.
            </p>
        </div>
    </div>

    <div class="card">
        <img src="https://images2.alphacoders.com/472/472428.jpg" alt="" />
        <div class="card-body">
            <div class="row">
                <div class="card-title">
                    <h4>BMW M4 Coupe</h4>
                    <h3>€120k</h3>
                </div>
                <div class="view-btn">
                    <a href="">View Details</a>
                </div>
            </div>
            <hr />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi,
                dignissimos.
            </p>
        </div>
    </div>

    <div class="card">
        <img src="https://images2.alphacoders.com/472/472428.jpg" alt="" />
        <div class="card-body">
            <div class="row">
                <div class="card-title">
                    <h4>BMW M4 Coupe</h4>
                    <h3>€120k</h3>
                </div>
                <div class="view-btn">
                    <a href="">View Details</a>
                </div>
            </div>
            <hr />
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi,
                dignissimos.
            </p>
        </div>
    </div>
</div>

